.body-pane {
    -fx-background-color: #121212;
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: #121212;
    /*-fx-border-color: transparent;*/
    -fx-base: #121212;
    -fx-control-inner-background: #121212;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #bb86fc;
    -fx-table-cell-border-color: transparent;
}


.table-view:hover .table-row-cell:filled:hover {
    -fx-background-color: silver;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}